.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #adb3b4;
    border-radius: 10px;
}

.serif-italic {
    font-family: 'Noto Serif', serif;
    font-style: italic;
}

.hero-gradient {
    background: linear-gradient(135deg, #755a23 0%, #c1a162 100%);
}


/* Smooth transitions for overlays */
#search-popup,
#cart-drawer {
    transition: visibility 0.2s, opacity 0.2s ease;
}

.no-scroll {
    overflow: hidden;
}